Source: kdeutils
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Fathi Boudra <fabo@debian.org>, Matthew Rosewarne <mrosewarne@inoutbox.com>, Sune Vuorela <debian@pusling.com>, Matthew Rosewarne <mrosewarne@inoutbox.com>
Build-Depends: cdbs (>= 0.4.51), debhelper (>= 6), cmake (>= 2.6), quilt,
 kdepimlibs5-dev (>= 4:4.1.0), libplasma-dev (>= 4:4.1.0),
 libgmp3-dev, libqimageblitz-dev (>= 1:0.0.4-2), libsnmp-dev, libzip-dev,
 python-all-dev, libarchive-dev, libx11-dev, libxrender-dev
Standards-Version: 3.7.3
Homepage: http://www.kde.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/branches/kde4/packages/kdeutils
Vcs-Svn: svn://svn.debian.org/pkg-kde/branches/kde4/packages/kdeutils

Package: kdeutils
Architecture: all
Depends: ark (>= ${source:Version}), kcalc (>= ${source:Version}),
 kcharselect (>= ${source:Version}), kdessh (>= ${source:Version}),
 kdf (>= ${source:Version}), kfloppy (>= ${source:Version}),
 kgpg (>= ${source:Version}), ktimer (>= ${source:Version}),
 kwalletmanager (>= ${source:Version}), okteta (>= ${source:Version}),
 superkaramba (>= ${source:Version}), sweeper (>= ${source:Version})
Description: general-purpose utilities from the official KDE 4 release
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This metapackage includes general-purpose utilities provided with the
 official release of KDE 4.

Package: kdeutils-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdebase-runtime-dbg
Suggests: kdeutils (= ${source:Version})
Description: debugging symbols for the KDE 4 utilities module
 This package contains debugging files used to investigate problems with
 binaries included in the KDE 4 utilities module.

Package: kdeutils-dev
Section: libdevel
Architecture: any
Depends: ark (= ${binary:Version}), superkaramba (= ${binary:Version})
Description: development files for the KDE 4 utilities module
 This package contains development files for building software that uses
 libraries from the KDE 4 utilities module.

Package: ark
Section: utils
Architecture: any
Recommends: ncompress, unzip, zip, zoo, bzip2, p7zip-full
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: archive utility for KDE 4
 Ark manages various archive formats, including tar, gzip, bzip2, and zip,
 as well as CD-ROM images.  Ark can be used to browse, extract, create, and
 modify archives.
 .
 This package is part of the KDE 4 utilities module.

Package: kcalc
Section: math
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: calculator for KDE 4
 KCalc is a scientific calculator.
 .
 KCalc provides:
  * Trigonometric functions, logic operations, and statistical calculations
  * Calculation in decimal, hexadecimal, octal, and binary bases
  * Memory functions for storing results
  * A comprehensive collection of mathematical constants
 .
 This package is part of the KDE 4 utilities module.

Package: kcharselect
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: special character utility for KDE 4
 KCharSelect is a utility for finding special characters which are not
 available on the keyboard.  It can search for characters by Unicode number,
 display characters in any font, and copy characters to the clipboard so they
 can be pasted into documents.
 .
 This package is part of the KDE 4 utilities module.

Package: kdessh
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Secure Shell utility for KDE 4
 KDE SSH runs commands on remote systems using the Secure Shell protocol.  It
 temporarily stores passwords, so users do not have to repeatedly re-enter
 their passwords to run further commands.
 .
 This package is part of the KDE 4 utilities module.

Package: kdf
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: disk information utility for KDE 4
 KDiskFree displays information about hard disks and other storage devices,
 including the amount of free space available.  It can also mount and unmount
 storage devices and view them in the file manager.
 .
 KwikDisk is an icon for the system tray that provides convenient access to
 the features of KDiskFree.
 .
 This package is part of the KDE 4 utilities module.

Package: kfloppy
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: floppy formatter for KDE 4
 Kfloppy is a utility for formatting floppy disks.
 .
 This package is part of the KDE 4 utilities module.

Package: kgpg
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: encryption utility for KDE 4
 Kgpg manages cryptographic keys for the GNU Privacy Guard, and can encrypt,
 decrypt, sign, and verify files.  It features a simple editor for applying
 cryptography to short pieces of text, and can also quickly apply cryptography
 to the contents of the clipboard.
 .
 This package is part of the KDE 4 utilities module.

Package: ktimer
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: countdown timer for KDE 4
 KTimer is a countdown timer for running commands after a delay.
 The countdown can be paused or set to loop continuously.
 .
 This package is part of the KDE 4 utilities module.

Package: kwalletmanager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: secure password wallet manager for KDE 4
 The KDE Wallet system provides a secure way to store passwords and other
 secret information, allowing the user to remember only a single KDE Wallet
 password instead of numerous different passwords and credentials.
 .
 KWallet Manager is a utility for viewing and editing information stored in 
 the KDE Wallet.
 .
 This package is part of the KDE 4 utilities module.

Package: okteta
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: hexeditor for binary files
 okteta is a KDE 4 related hexeditor
 .
 This package is part of the KDE 4 utilities module.

Package: superkaramba
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SuperKaramba theme support for the KDE 4 Plasma desktop
 SuperKaramba was the KDE 3.5 utility for displaying interactive desktop
 applets, called "themes".  This package allows the Plasma desktop to use
 SuperKaramba themes.
 .
 This package is part of the KDE 4 utilities module.

Package: sweeper
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: history and temporary file cleaner for KDE 4
 Sweeper can quickly remove temporary information, such as web page cookies,
 browser history, or the list of recently-opened documents.  It helps provide
 additional privacy on a system shared between multiple users.
 .
 This package is part of the KDE 4 utilities module.

