Source: kdeutils
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Fathi Boudra <fabo@debian.org>, Matthew Rosewarne <mrosewarne@inoutbox.com>
Build-Depends: cdbs, debhelper (>= 5), cmake, quilt, kdepimlibs5-dev (>= 4:3.98.0~),
 libgmp3-dev, libqimageblitz-dev, libsnmp-dev, libzip-dev, python-all-dev, libarchive-dev
Standards-Version: 3.7.3


Package: kdeutils
Architecture: all
Depends: ark (>= ${binary:Version}), kcalc (>= ${binary:Version}),
 kcharselect (>= ${binary:Version}), kdessh (>= ${binary:Version}),
 kdf (>= ${binary:Version}), kfloppy (>= ${binary:Version}),
 kgpg (>= ${binary:Version}), khexedit (>= ${binary:Version}),
 kjots (>= ${binary:Version}), kmilo (>= ${binary:Version}),
 kregexpeditor (>= ${binary:Version}), ktimer (>= ${binary:Version}),
 kwalletmanager (>= ${binary:Version}), kwikdisk (>= ${binary:Version}),
 superkaramba (>= ${binary:Version}), sweeper (>= ${binary:Version})
Description: general purpose utilities from the official KDE4 release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of general purpose utilities
 provided with the official release of KDE4.


Package: kdeutils-dbg
Section: libdevel
Architecture: any
Priority: extra
Depends: kdelibs-dbg (>=4:3.98.0~)
Description: debugging symbols for kdeutils
 This package contains the debugging symbols associated with kdeutils.
 They will automatically be used by gdb for debugging kdeutils-related issues.


Package: kdeutils-dev
Section: utils
Architecture: any
Depends: ark (>= ${binary:Version}), khexedit (>= ${binary:Version}),
 kmilo (>= ${binary:Version}), kregexpeditor (>= ${binary:Version}),
 superkaramba (>= ${binary:Version})
Description: development files for the KDE4 utilities module
 This package contains development files needed to compile kdeutils
 applications.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: ark
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: graphical archiving tool for KDE4
 Ark is a graphical program for managing various archive formats within the
 KDE environment. Archives can be viewed, extracted, created and modified
 from within Ark.
 .
 The program can handle various formats such as tar, gzip, bzip2, zip, rar and
 lha (if appropriate command-line programs are installed).
 .
 Ark can work closely with Konqueror in the KDE environment to handle archives,
 if you install the Konqueror Integration plugin available in the konq-plugins
 package.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: kcalc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: calculator for KDE4
 KCalc is KDE's scientific calculator.
 .
 It provides:
  * trigonometric functions, logic operations, and statistical calculations
  * easy cut and paste of numbers from/into its display
  * a results-stack which lets you conveniently recall previous results
  * configurable precision, and number of digits after the period
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: kcharselect
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: character selector for KDE4
 A character set selector for KDE.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: kdessh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ssh frontend for KDE4
 This package contains KDE's frontend for ssh.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: kdf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: disk space utility for KDE4
 KDiskFree displays the available file devices (hard drive partitions, floppy
 and CD drives, etc.) along with information on their capacity, free space, type
 and mount point. It also allows you to mount and unmount drives and view them
 in a file manager.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: kfloppy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: floppy formatter for KDE4
 Kfloppy is a utility that provides a straightforward graphical means
 to format 3.5" and 5.25" floppy disks.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: kgpg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GnuPG frontend for KDE4
 Kgpg is a frontend for GNU Privacy Guard (GnuPG). It provides file
 encryption, file decryption and key management.
 .
 Features:
   * an editor mode for easily and quickly encrypting or decrypting a file
     or message which is typed, copied, pasted or dragged into the editor,
     or which is double-clicked in the file manager
   * Konqueror integration for encrypting or decrypting files
   * a panel applet for encrypting / decrypting files or the clipboard
     contents, etc.
   * key management functions (generation, import, export, deletion and
     signing)
   * decrypting clipboard contents, including integration with Klipper
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: khexedit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: KDE4 hex editor
 KHexEdit is an editor for the raw data of binary files.  It includes
 find/replace functions, bookmarks, many configuration options, drag and drop
 support and other powerful features.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: kjots
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: note taking utility for KDE4
 Kjots is a small note taker program. Name and idea are taken from the jots
 program included in the tkgoodstuff package.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: kmilo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: laptop special keys support for KDE4
 KMilo lets you use the special keys on some keyboards and laptops.
 .
 Usually this includes volume keys and other features. Currently, KMilo
 comes with plugins for Powerbooks, Thinkpads, Vaios and generic keyboards
 with special keys.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: kregexpeditor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: graphical regular expression editor plugin for KDE4
 This package contains a graphical regular expression editor plugin for use
 with KDE. It let you draw your regular expression in an unambiguous way.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: ktimer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: timer utility for KDE4
 This is a timer application for KDE4. It allows you to execute commands after
 a certain amount of time. It supports looping commands as well as delayed
 command execution.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: kwalletmanager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: wallet manager for KDE4
 This program keeps various wallets for any kind of data that the user can
 store encrypted with passwords and can also serve as a password manager that
 keeps a master password to all wallets.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: kwikdisk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Removable Media Utility for KDE4
 This utility allows you to manage removable media.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: superkaramba
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a program based on karamba improving the eyecandy of KDE4
 SuperKaramba is a tool based on karamba that allows anyone to easily create
 and run little interactive widgets on a KDE desktop. Widgets are defined in a
 simple text file and can be augmented with Python code to make them
 interactive.
 .
 Here are just some examples of the things that can be done:
 .
  * Display system information such as CPU Usage, MP3 playing, etc.
  * Create cool custom toolbars that work any way imaginable.
  * Create little games or virtual pets that live on your desktop.
  * Display information from the internet, such as weather and headlines.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.


Package: sweeper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: privacy utility for KDE4
 This utility helps to clean unwanted traces the user leaves on the system.
 .
 This package is part of KDE4, as a component of the KDE4 utilities module.
 See the 'kde' and 'kdeutils' packages for more information.
